html {
    scroll-behavior: smooth;
  }

.header_get {
    background-image: url(https://i.pinimg.com/736x/89/79/2a/89792a145c34e95f53b4140849eae48c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
}

.back{
    height: 900px;
    padding-left: 50px;
    padding-right: 50px;
}

.Section1{
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
}

.Section2{
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
}

.Section3{
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
}

.header{
    display:inline-flex
}

.logo{
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 25px;
}

.menu li{
    display: inline;
    margin-inline: 15px;
    text-transform: uppercase;
    float: right;
    font-size: 20px;
}

.h1_main{
    margin-top: 700px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.p_main{
    text-align: center;
    font-size: 20px;
}

.container3 {
    padding-left: 100px;
    padding-right: 100px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

/* .my_photo{
    height: 10px;
    padding-left: 10px;
} */

.photo{
    height: 400px;
    width: 400px;
    border: 3px solid rgb(0, 0, 0);
}

.model{
    text-align: center;
    margin-top: 15px;
    height: 15px;
    font-size: 25px;
}
